{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
  Cliente Novo
{% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <form method="POST">
          {% csrf_token %}
          {{form|bootstrap}}
          <button class="btn btn-info" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
        </form>
      </div>
      <div class="col">
      </div>
    </div>
    <div style="margin-top: 2%;" class="row">
      <div class="col">
      </div>
      <div class="col">
        <a style="color: white;" href="{% url 'cliente_principal'%}"><i class="fa fa-arrow-left" aria-hidden="true"> Voltar</i></a>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

{% endblock %}
